{% extends 'base.html.twig' %}

{% block title %}Hello OrangeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>This friendly message is coming from:</p>
    <ul>
        <li>Your controller at <code>/home/sqli/eheio_ig5_2K26/src/Controller/OrangeController.php</code></li>
        <li>Your template at <code>/home/sqli/eheio_ig5_2K26/templates/orange/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        alert("Hello from index.html.twig");
    </script>
{% endblock %}

{# 
npm run watch : se lance une seule fois et observe les changements  
npm run dev   : relancé manuellement à chaque modification 
#}
